.menu {
    background: rgb(190, 190, 190);
    padding: 20px 0;
}

.menu-list ul {
    display: inline-block;
}

.menu-list li {
    font-size: 13px;
    text-align: left;
    display: inline;
    text-align: left;
}

.menu-list a {
    color: white;
    text-decoration: none;
}